# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!Krystal.Editor/data/assets/models/*/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Krystal.Lib
!Krystal.Gfx.Lib

# Executables
*.exe
*.out
*.app

# Visual Studio temporary files and build directories
[Bb]in/
[Oo]bj/
[Oo]ut/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild/
[Bb]uilds/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Pp]ackages/

# Visual Studio cache/options files
.vs/
.vscode/
*.VC.db
*.VC.VC.opendb
*.opendb
*.db
*.suo
*.user
*.userosscache
*.sln.docstates
*.aps

# IntelliSense cache
*.ncb
*.sdf

# MSTest
*.Test.xml
*.testsettings

# Custom
/Krystal.Editor/logs
